@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollable::-webkit-scrollbar {
    display: none;
  }

  .scrollable {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
